$transTime: 0.4s;

.common_button_style {
  background-size: 100%;
  &:before {
    transform: matrix(0);
    border-radius: 5px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    transition: transform $transTime;
  }
  &:hover {
    &:before {
      transform: matrix(1.05, 0.06, 0, 1, 0, 0);
    }
  }
}

@mixin secondaryBackgroundGradientGreenAnimation() {
  @extend .common_button_style;
  &:before {
    background: linear-gradient(90deg, #b37af8 0%, #acffeb 50%, #b37af8 100%);
  }
}
@mixin secondaryBackgroundGradientPinkAnimation() {
  @extend .common_button_style;
  &:before {
    background: linear-gradient(90deg, #70fceb 0%, #6f98ff 50%, #70fceb 100%);
  }
}

@mixin primaryBorderGradientAnimation() {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(90deg, #eeeeee 0%, #eeeeee 35.3%, #eeeeee 102.69%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: background $transTime;
  }
  &:hover {
    &:before {
      background: linear-gradient(90deg, #b37af8 0%, #e4acff 35.3%, #70fceb 102.69%);
    }
  }
}

.primary_border_gradient {
  @include primaryBorderGradientAnimation();
}

.secondary_bg_gradient_green {
  @include secondaryBackgroundGradientGreenAnimation();
}
.secondary_bg_gradient_pink {
  @include secondaryBackgroundGradientPinkAnimation();
}
