$primary-button-background-gradient: linear-gradient(
  90deg,
  #eeffe9 0%,
  #acffeb 35.3%,
  #c9ff71 102.69%
);
$secondary-button-background-gradient: linear-gradient(97.84deg, #29394a -53.94%, #06101b 111.5%);

@mixin secondaryBackgroundGradientAnimation($transTime) {
  background-size: 100%;
  background-image: $secondary-button-background-gradient;

  &:before {
    background: $secondary-button-background-gradient;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 4px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
    box-shadow: 0px 1px 1px #acffeb;
  }
}

.secondary_bg_gradient {
  @include secondaryBackgroundGradientAnimation(0.4s);
}

@mixin primaryBorderGradientAnimation($transTime) {
  position: relative;
  display: inline-block;
  background-image: $secondary-button-background-gradient;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    padding: 1px;
    background: $primary-button-background-gradient;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  &:hover {
    opacity: 0.85;
    &:before {
      background: linear-gradient(90deg, #f8e9ff 0%, #e4acff 35.3%, #7187ff 102.69%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

@mixin secondaryBorderGradientAnimation($transTime) {
  position: relative;
  display: inline-block;
  background-image: $secondary-button-background-gradient;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    padding: 1px;
    background: linear-gradient(90deg, #f8e9ff 0%, #e4acff 35.3%, #7187ff 102.69%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  &:hover {
    &:before {
      background: $primary-button-background-gradient;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

.primary_border_gradient {
  @include primaryBorderGradientAnimation(0.4s);
}

.secondary_border_gradient {
  @include secondaryBorderGradientAnimation(0.4s);
}
