@tailwind base;
@tailwind components;
@tailwind utilities;

@import './background-effects.scss';
@import './swiper.scss';
@import './card.scss';

@layer base {
  body {
    @apply font-titillium;
  }
}

html {
  scroll-behavior: smooth;
}

.bifrost__card {
  background: linear-gradient(138.39deg, rgba(48, 69, 97, 0.2) -7.57%, rgba(0, 6, 16, 0) 107.25%);
  backdrop-filter: blur(80px);
  border-radius: 15px;
}

.datasetInputs {
  @apply w-full border border-[#1E2531] rounded-[6px] focus:ring-0 focus-visible:ring-[1px] focus-visible:ring-honeySuckle  py-3 pl-3 pr-4 text-base text-gray focus:outline-none transition duration-300 bg-transparent;
}

.blog_page_navbar_background {
  background: linear-gradient(138.39deg, rgba(0, 0, 0, 0.69) -7.57%, rgba(0, 0, 0, 08) 107.25%);
}

/* .__carouselBtn { */
/*   @apply bg-gradient-to-r from-[#eeffe9] via-[#acffeb] to-[#c9ff71] text-transparent bg-clip-text; */
/* } */
.section {
  color: white;
  z: 10;
}

.bifrost__gradient_pink {
  @apply bg-gradient-to-r from-[#f8e9ff] via-[#e4acff] to-[#7187ff];
}

.gradient__white__to__green {
  @apply bg-gradient-to-r from-[#eeffe9] via-[#acffeb] to-[#c9ff71];
}

.bifrost__gradient_dark_blue {
  @apply bg-gradient-to-r from-[#29394A] to-[#06101B];
}

.project__item {
  background: linear-gradient(138.39deg, rgba(48, 69, 97, 0.2) -7.57%, rgba(0, 6, 16, 0) 107.25%);
  /*   backdrop-filter: blur(80px); */
  backdrop-filter: blur(80px);
  border-radius: 8px;
}
.input__dark {
  background: linear-gradient(
    138.39deg,
    rgba(255, 255, 255, 0.2) -7.57%,
    rgba(255, 255, 255, 0) 107.25%
  );
}

.dropdown:hover .menu-wrapper {
  opacity: 1;
  pointer-events: auto;
}
